.wavy-wrapper {
  width: 100%;
  height: 180%;
  position: fixed;
  overflow: hidden;
  z-index: -10;
  top: -35rem;

}

.wavy {
  opacity: 0.5;
  height: 100%;
  width: 200%;
  z-index: -10;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-duration: 180s;
  animation-direction: alternate;
  animation-timing-function: linear;
  background-repeat: repeat;
  background-size: cover;
  background-image: url('/images/Improved_background.svg');

}

@keyframes wave {
  0% {
    transform: translate(-10%);
    width: 200%;
  }

  100% {
    transform: translate(-40%);
    width: 250%;
  }
}