@media screen and (max-width: 600px) {

    html {
        width: 100%;
        height: 100%;
    }
    
    body {

    }

    nav {
        
    }
    
    
    main {
        
    
    }
    
    footer {
       
    }
    
    
    #about {
       
    }
    
    .about-image {
       
    
    
    }
    
    .about-image img {
      
    }
    
    .about-text {
      
    
    }
    
    #project1 {
       
    }
    
    .project1-preview {
      
    
    }
    
    .project1-github {
        
    
    }
    
    .project1-text {
        
    
    }
    
    #project2 {
       
    }
    
    #project3 {
        
    }
    
    .project2-preview {
        
    
    }
    
    .project2-github {
        
    
    }
    
    .project2-text {
        
    
    }
    
    
    .project3-preview {
       
    
    }
    
    .project3-github {
        
    
    }
    
    .project3-text {
        
    
    }
    
    #project4 {
        
    }
    
    .project4-preview {
        grid-area: 1 / 1 / 3 / 3;
    
    }
    
    .project4-github {
        
    
    }
    
    .project4-text {
        
    
    }
    
    #inspo {
        
    
    }
    
    
    
    
    nav a {
    
        text-decoration: none;
        font-family: "groovy";
        font-size: 200%;
        color: brown;
    }
    


}