body {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(12, auto);
    grid-column-gap: 6px;
    grid-row-gap: 5px;
}

header {
    grid-area: 1 / 1 / 2 / 6;
    background-color: aqua;
}

main {
    grid-area: 2 / 1 / 12 / 6;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(12, auto);
    grid-column-gap: 6px;
    grid-row-gap: 5px;
    text-align: center;

}

footer {
    grid-area: 12 / 1 / 13 / 6;
    background-color: blueviolet;
}


#about {
    grid-area: 1 / 1 / 3 / 6;

    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 6px;
    grid-row-gap: 5px;
}

.about-image {
    grid-area: 1 / 1 / 3 / 3;

}

.about-text {
    grid-area: 1 / 3 / 3 / 6;

}

#project1 {
    grid-area: 3 / 1 / 5 / 6;

    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 6px;
    grid-row-gap: 5px;
}

.project1-preview {
    grid-area: 1 / 4 / 3 / 6;

}

.project1-github {
    grid-area: 3 / 4 / 4 / 6;

}

.project1-text {
    grid-area: 1 / 1 / 4 / 4;

}

#project2 {
    grid-area: 5 / 1 / 7 / 6;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 6px;
    grid-row-gap: 5px;
}

#project3 {
    grid-area: 7 / 1 / 9 / 6;

    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 6px;
    grid-row-gap: 5px;
}

.project2-preview {
    grid-area: 1 / 1 / 3 / 3;

}

.project2-github {
    grid-area: 3 / 1 / 4 / 3;

}

.project2-text {
    grid-area: 1 / 3 / 4 / 6;

}


.project3-preview {
    grid-area: 1 / 4 / 3 / 6;

}

.project3-github {
    grid-area: 3 / 4 / 4 / 6;

}

.project3-text {
    grid-area: 1 / 1 / 4 / 4;

}

#project4 {
    grid-area: 9 / 1 / 11 / 6;

    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 6px;
    grid-row-gap: 5px;
}

.project4-preview {
    grid-area: 1 / 1 / 3 / 3;

}

.project4-github {
    grid-area: 3 / 1 / 4 / 3;

}

.project4-text {
    grid-area: 1 / 3 / 4 / 6;

}

#inspo {
    grid-area: 11 / 1 / 13 / 6;

}


nav {
    /* margin: 1rem;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    width: 99%;
    position: fixed;
    border-radius: 3rem;
    position: fixed;
    z-index: 1;
    height: 3rem; */

}


nav a {
    text-decoration: none;

}

nav a:link {}

/* visited link */
nav a:visited {}

/* mouse over link */
nav a:hover {}

/* selected link */
nav a:active {}


article {
    border: 3px;
    border-color: black;
    border-style: solid;
}

section {
    border: 3px;
    border-color: black;
    border-style: solid;
}

div {
    border: 3px;
    border-color: black;
    border-style: solid;
}

p {
    padding: 2rem;
}

#effect {
    position: absolute;
    z-index: 1;
}

.wave {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    border-radius: 100% 0;
    animation: diagonal-move-anim 3s linear infinite alternate;

}

@keyframes diagonal-move-anim {

	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(150px, 150px);
	}

}