html {
    width: 100vw;
    cursor: url(/images/cursor.png), auto;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(12, auto);
    grid-row-gap: 5px;
    background-color: #FFCB90;
}

.body {
    width: inherit;
}

::-webkit-scrollbar {
    display: none;
}

nav {
    top: 0;
    width: 95.9%;
    margin: 0 2rem 0 2rem;
    grid-area: 1 / 1 / 2 / 6;
    background-color: #FF9600;
    text-align: center;
    border-radius: 0 0 3rem 3rem;
    position: fixed;
    z-index: 1;
    height: 3rem;

}


main {
    width: 100%;
    grid-area: 2 / 1 / 12 / 6;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(12, auto);
    grid-row-gap: 2rem;
    text-align: center;


}

footer {
    grid-area: 12 / 1 / 13 / 6;
    background-color: #FF9600;
    border-radius: 3rem 3rem 0 0;
    margin: 1rem 2rem 0 2rem;
    padding: 2rem;
    font-family: "groovy";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #700A00;
    

}

footer img:hover {
    transform: scale(1.3);
    cursor: url('/images/pointer.png'), auto;
}

#contact-text {
    grid-area: 1 / 1 / 2 / 2;
}

#linkedin {
    width: 4rem;
    height: 4rem;
    grid-area: 1 / 2 / 2 / 3;
}

#gmaiL {
    width: 4rem;
    height: 4rem;
    grid-area: 1 / 3 / 2 / 4;
}

#cv {
    grid-area: 1 / 4 / 2 / 5;
    height: 4rem;


}


#about {
    padding: 4rem 2rem 2rem 2rem;
    grid-area: 1 / 1 / 3 / 6;
    display: flex;
    justify-content: space-evenly;

    border-radius: 0 0 50%/10rem 0;
    background-color: #700A00;
}

.about-image {
    grid-area: 1 / 1 / 3 / 3;
}

.about-image img {
    height: 35rem;
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" viewBox="0 0 4399.85 3276.6"><path d="m4399.6,2380.98v520.72h-576.58c27.33-22.8,53.27-49.21,77.63-80.12,86.55-109.9,106.34-217.43,230.12-319.99,95.37-79.05,196.07-108.42,268.83-120.62Z" fill="%23ff9600"/><path d="m4399.6,2042.52v338.46c-72.76,12.2-173.46,41.57-268.83,120.62-123.78,102.56-143.57,210.09-230.12,319.99-24.36,30.91-50.3,57.32-77.63,80.12h-387.22c58.97-23.39,111.42-49.15,154.75-70.64,34.3-17.05,51.99-24.34,68.81-36.06,216.84-151.76,212.33-451.68,479.88-642.23,99.47-70.88,196.54-98.18,260.37-110.26Z" fill="%23700a00"/><path d="m4399.6,1742.66v299.86c-63.84,12.08-160.9,39.38-260.37,110.26-267.55,190.55-263.04,490.46-479.88,642.23-16.82,11.72-34.51,19.01-68.81,36.06-43.33,21.49-95.78,47.25-154.75,70.64h-595.14c472.39-128.61,708.56-192.98,832.8-403.36,85.53-144.95,82.96-274.87,214.53-453.16,0,0,127.06-171.84,287.03-246.74,3.74-1.78,6.92-3.2,9.38-4.32,87.99-39.2,166.49-48.85,215.2-51.46Z" fill="%23ff3800"/><path d="m4399.6,1368.91v373.75c-48.71,2.61-127.21,12.26-215.2,51.46-2.46,1.13-5.64,2.55-9.38,4.32-159.98,74.9-287.03,246.74-287.03,246.74-131.57,178.29-129.01,308.21-214.53,453.16-124.24,210.39-360.41,274.75-832.8,403.36h-1624.37c1783.89-34.34,2253.1-363.04,2338.63-667.45,34.61-123.4,65.63-454.05,265.35-560.75,121.42-64.84,245.6-15.1,412.14-130.39,79.78-55.25,133.62-123.64,167.21-174.21Z" fill="%23ffcb90"/><path d="m4399.6,997.23v371.68c-33.58,50.57-87.42,118.96-167.21,174.21-166.54,115.29-290.73,65.55-412.14,130.39-199.71,106.7-230.74,437.35-265.35,560.75-85.53,304.42-554.74,633.11-2338.63,667.45l.05-.06c1567.36-105.64,2043.18-488.27,2174.81-833.67,59.73-156.74,143.26-554.3,415.02-674.85,129.47-57.38,293.44-45.48,454.5-205.35,71.78-71.29,115.88-146.49,138.95-190.55Z" fill="%23ff9600"/><path d="m4399.6,468.04v529.19c-23.07,44.05-67.17,119.26-138.95,190.55-161.05,159.88-325.03,147.97-454.5,205.35-271.75,120.56-355.28,518.12-415.02,674.85-131.62,345.39-607.45,728.03-2174.81,833.67.15-.06.36-.18.51-.3l.05-.06c31.74-8.7,62.91-17.47,93.58-26.41,1289.09-132.58,1733.95-550.86,1889.31-932.43,111.01-272.68,157.87-731.94,476.85-900.04,174.03-91.72,362.1-61.46,543.51-254.62,100.4-106.88,151.87-232.29,179.46-319.75Z" fill="%23ff3800"/><path d="m4399.6,6.17v461.86c-27.59,87.46-79.07,212.87-179.46,319.75-181.41,193.15-369.48,162.9-543.51,254.62-318.98,168.11-365.84,627.37-476.85,900.04-155.36,381.57-600.22,799.85-1889.31,932.43,1199.57-347.35,1567.51-816.32,1663.7-1204.81,61.32-247.75,44.56-593.67,287.14-834.91,183.1-182.08,369.48-160.88,605.04-402.65,144.18-147.97,227.4-313,274.42-426.34h258.83Z" fill="%23700a00"/><path d="m3485.27,6.17h655.49c-47.02,113.33-130.24,278.36-274.42,426.34-235.55,241.77-421.94,220.57-605.04,402.65-242.58,241.24-225.81,587.16-287.14,834.91-96.19,388.5-464.14,857.47-1663.7,1204.81-10.77,1.13-21.64,2.25-32.51,3.26,877-337.87,1164.6-760.24,1255.25-1101.49,80.65-303.59,24.87-616.12,256.37-888.2,160.64-188.83,336.21-213.05,517.87-485.55,99.32-149.04,150.44-297.19,177.82-396.73Z" fill="%23ffcb90"/><path d="m3435.79,2901.71h387.22c-116.14,96.87-257.45,128.02-409.32,161.59-373.07,82.43-430.76-62.65-790.4-27.06-440.4,43.58-528.02,278.42-844.08,234.72-254.17-35.17-444.5-221.22-563.76-369.25.05,0,.1.06.15.06s.1.06.21.06h.05c389.48,127.96,720.71,140.28,942.22,128.79,22-1.13,43.48-2.55,64.45-4.2,169.77-13.32,308.36-42.99,461.98-82.84,81.99-7.58,175.05-8.47,276.88,5.15,76.76,10.18,113.83,22.68,192.64,19.07,101.98-4.74,198.38-32.98,281.75-66.08Z" fill="%23700a00"/><path d="m2952.94,6.17h532.33c-27.38,99.54-78.5,247.69-177.82,396.73-181.67,272.5-357.23,296.72-517.87,485.55-231.5,272.09-175.72,584.61-256.37,888.2-90.65,341.25-378.25,763.62-1255.25,1101.49-9.28.95-18.61,1.84-28,2.72l-.36-.77c783.27-500.18,976.01-944.04,1001.6-1263.32,20.41-254.56-61.89-473.88,76.91-710.56,141.77-241.71,366.61-249.88,523-556.61,65.84-129.14,91.01-255.21,101.83-343.44Z" fill="%23ff9600"/><path d="m2425.48,6.17h527.46c-10.82,88.23-35.99,214.29-101.83,343.44-156.39,306.73-381.23,314.9-523,556.61-138.8,236.68-56.5,456-76.91,710.56-25.59,319.28-218.33,763.14-1001.6,1263.32-10.2,6.51-20.56,13.09-30.97,19.6.82-.83,1.79-1.95,2.87-3.26,577.04-501.95,709.33-915.79,716.92-1208.6,6.26-241.65-71.94-417.93,30.76-669.11,102.45-250.53,273.75-304,384.56-603.98,58.56-158.46,70.86-306.43,71.73-408.57Z" fill="%23700a00"/><path d="m1957.6,6.17h467.88c-.87,102.14-13.18,250.12-71.73,408.57-110.8,299.97-282.11,353.44-384.56,603.98-102.7,251.18-24.51,427.46-30.76,669.11-7.59,292.81-139.88,706.65-716.92,1208.6,24.87-30.14,117.57-181.19,187.31-307.85,141.21-256.16,243.04-440.9,284.83-649.22,92.76-462.57-218.38-586.45-93.63-950.26,94.14-274.63,303.95-346.1,338.41-680.95,9.23-89.89,16.41-301.99,19.18-301.99Z" fill="%23ff3800"/><path d="m1406.14,6.17h551.46c-2.77,0-9.95,212.1-19.18,301.99-34.46,334.85-244.27,406.32-338.41,680.95-124.75,363.81,186.38,487.68,93.63,950.26-41.79,208.31-143.62,393.06-284.83,649.22-69.73,126.66-162.44,277.71-187.31,307.85-2,1.78-4.05,3.49-6.05,5.27,1.23-4.44,2.46-8.82,3.64-13.2q.05-.06.05-.12c10.77-26.41,40.4-84.5,50.71-105.16,110.7-221.99,233.14-631.27,219.92-1008.4-17.48-500.29-258.27-507.93-197.41-868.6,33.53-198.72,129.67-333.02,133.31-639.5,1.28-110.26-9.84-201.03-19.54-260.54Z" fill="%23ff9600"/><path d="m1489.77,1774.82c13.23,377.13-109.21,786.41-219.92,1008.4-10.31,20.67-39.94,78.75-50.71,105.16,141.31-512.31,102.45-873.16,37.33-1111.73-94.09-344.8-250.48-462.34-235.86-799.38,10.67-245.79,102.75-388.14,46.15-633.58-35.99-156.09-112.44-268.53-169.21-337.52h508.59c9.69,59.51,20.82,150.28,19.54,260.54-3.64,306.49-99.78,440.78-133.31,639.5-60.86,360.67,179.92,368.31,197.41,868.6Z" fill="%23700a00"/><path d="m1256.47,1776.65c65.12,238.57,103.98,599.42-37.33,1111.73q0,.06-.05.12c-1.79,4.44-3.08,7.99-3.59,10.24.15-6.1.26-12.2.36-18.24.36.3.56.47.67.36.15-.12.1-.77-.15-1.89-.1-1.6-.26-3.2-.41-4.74,8.1-489.34-76.35-845.15-159.46-1085.74-109.78-317.68-211.97-419.29-246.12-740.17-28.1-264.03,18.05-411.83-61.53-645.43C685.28,216.2,579.65,87.12,498.43,6.17h399.12c56.76,68.98,133.21,181.43,169.21,337.52,56.61,245.44-35.48,387.79-46.15,633.58-14.61,337.04,141.77,454.58,235.86,799.38Z" fill="%23ff3800"/><path d="m1219.1,2888.5c-1.18,4.38-2.41,8.76-3.64,13.2,0-1.01.05-1.95.05-2.96.51-2.25,1.79-5.8,3.59-10.24Z" fill="%23ad533e"/><path d="m1216.38,2878.97c.26,1.13.31,1.78.15,1.89-.05-.65-.1-1.24-.15-1.89Z" fill="%23ad533e"/><path d="m1216.38,2878.97c.05.65.1,1.24.15,1.89-.21-.83-.41-1.66-.62-2.49v-1.13c.21.65.36,1.24.46,1.72Z" fill="%23ad533e"/><path d="m1215.92,2878.38c.21.83.41,1.66.62,2.49-.21-.59-.41-1.24-.62-1.84v-.65Z" fill="%23ad533e"/><path d="m1215.92,2879.03c.21.59.41,1.24.62,1.84-.21-.3-.41-.59-.67-.89.05-.3.05-.59.05-.95Z" fill="%23ad533e"/><path d="m1215.86,2879.97c.26.3.46.59.67.89-.05-.06-.15-.12-.21-.18-.15-.18-.31-.3-.46-.41.05-.06.05-.18,0-.3Z" fill="%23ad533e"/><path d="m1216.53,2880.86c-.1.12-.31-.06-.67-.36v-.12c.15.12.31.18.46.3.05.06.15.12.21.18Z" fill="%23ad533e"/><path d="m1215.97,2874.23c.15,1.54.31,3.14.41,4.74-.1-.47-.26-1.07-.46-1.72.05-1.01.05-2.01.05-3.02Z" fill="%23ad533e"/><path d="m1215.86,2880.27c.15.12.31.24.46.41-.15-.12-.31-.18-.46-.3.05,0,.05-.06,0-.12Z" fill="%23ad533e"/><path d="m1056.5,1788.49c83.12,240.58,167.56,596.4,159.46,1085.74-36.35-446.88-139.16-766.46-224.89-972.99-67.73-163.19-163.82-349.83-180.23-381.57-207.87-402.24-278.83-425.03-342-648.39-67.94-240.41-17.28-325.56-106.24-458.96C267.44,269.55,113,222.24.25,204.18V6.17h498.18c81.22,80.94,186.84,210.03,250.42,396.73,79.58,233.6,33.43,381.39,61.53,645.43,34.15,320.88,136.34,422.49,246.12,740.17Z" fill="%23ffcb90"/><path d="m1215.97,2874.23c0,1.01,0,2.01-.05,3.02-.31-1.18-.77-2.72-1.38-4.56-121.11-496.68-283.6-843.97-412.91-1072.83-248.27-439.24-398.04-483.89-475.98-797.84-18.61-74.96-62.91-285.17-207.97-365.58-44.76-24.81-87.63-30.85-117.42-32.03V204.18c112.75,18.06,267.19,65.37,362.36,208.14,88.96,133.41,38.3,218.56,106.24,458.96,63.17,223.35,134.13,246.15,342,648.39,16.41,31.74,112.5,218.38,180.23,381.57,85.73,206.54,188.54,526.11,224.89,972.99Z" fill="%23ff9600"/><path d="m1215.92,2877.25v1.13c-.46-1.89-.92-3.79-1.38-5.68.62,1.84,1.08,3.38,1.38,4.56Z" fill="%23ad533e"/><path d="m1214.53,2872.69c.46,1.89.92,3.79,1.38,5.68v.65c-3.28-9.77-6.61-19.42-9.9-29.01,3.95,9.77,6.77,17.47,8.51,22.68Z" fill="%23ad533e"/><path d="m1215.92,2879.03c0,.36,0,.65-.05.95-1.64-2.31-3.28-4.62-4.92-6.87l-.05-.06c-22.1-35.71-109.37-189.25-272.99-360.79-81.37-85.27-139.77-146.49-233.14-208.9-199.36-133.35-332.36-103.74-397.63-255.39-20.66-48.02-28.41-99-73.94-149.4-67.27-74.43-162.23-86.87-232.94-85.39v-285.23c51.58,5.33,125.78,21.49,198.28,74.43,93.52,68.27,119.67,150.52,196.38,253.49,97.83,131.28,193.1,182.44,263.45,234.78,304.67,226.79,500.75,641.87,547.46,758.82.1.18.15.36.21.53,3.28,9.59,6.61,19.24,9.9,29.01Z" fill="%23700a00"/><path d="m1210.94,2873.11c1.64,2.25,3.28,4.56,4.92,6.87.05.12.05.24,0,.3-.21-.24-.36-.41-.56-.53-.05-.06-.05-.12-.1-.12-.92-1.24-2.36-3.43-4.26-6.51Z" fill="%23ad533e"/><path d="m1215.3,2879.74c.21.12.36.3.56.53.05.06.05.12,0,.12-.1-.06-.15-.18-.26-.18-.05-.12-.21-.3-.31-.47Z" fill="%23ad533e"/><path d="m1215.86,2880.39v.12c-.05-.12-.15-.18-.26-.3.1,0,.15.12.26.18Z" fill="%23ad533e"/><path d="m1215.86,2880.51c-.1,6.04-.21,12.14-.36,18.24-.41,1.66-.46,2.66-.05,2.96-134.13-40.38-245.14-56.61-321.44-63.89-282.68-27.12-348.82,42.52-510.64-34.7-64.14-30.61-118.55-72.48-210.28-72.06-72.96.36-132.9,27.3-172.85,50.75v-208.14c37.89-18.42,95.01-38.49,161.31-29.37,82.65,11.31,131.01,61.23,175.62,93.38,139.31,100.43,252.42,35.05,448.24,58.74,106.34,12.85,255.24,54.12,430.19,183.8.1.12.21.18.26.3Z" fill="%23700a00"/><path d="m1215.3,2879.74c.1.18.26.36.31.47-174.95-129.68-323.85-170.95-430.19-183.8-195.82-23.69-308.93,41.69-448.24-58.74-44.61-32.15-92.96-82.07-175.62-93.38-66.3-9.12-123.42,10.95-161.31,29.37v-186.82c25.74-20.07,64.09-42.87,110.5-42.69,82.81.3,139.72,73.42,177.92,112.09,127.47,129.03,253.91,83.31,464.39,144.07,117.47,33.93,280.06,106.47,462.14,279.31.05,0,.05.06.1.12Z" fill="%23ffcb90"/><path d="m1215.51,2898.75c0,1.01-.05,1.95-.05,2.96-.41-.3-.36-1.3.05-2.96Z" fill="%23ad533e"/><path d="m1215.45,2901.71H.25v-119.91c39.94-23.45,99.88-50.39,172.85-50.75,91.73-.41,146.13,41.45,210.28,72.06,161.82,77.21,227.97,7.58,510.64,34.7,76.3,7.28,187.31,23.51,321.44,63.89Z" fill="%23ff3800"/><path d="m1210.94,2873.11c1.9,3.08,3.33,5.27,4.26,6.51-182.08-172.84-344.67-245.38-462.14-279.31-210.48-60.75-336.92-15.04-464.39-144.07-38.2-38.67-95.11-111.79-177.92-112.09-46.4-.18-84.76,22.62-110.5,42.69v-258.82c30.61-11.13,75.32-21.44,124.34-7.99,94.65,25.99,135.57,121.45,184.84,186.76,119.11,157.86,265.04,110.2,478.29,202.81,111.88,48.55,265.5,145.9,423.17,363.45l.05.06Z" fill="%23ff3800"/><path d="m1214.53,2872.69c-1.74-5.21-4.56-12.91-8.51-22.68-.05-.18-.1-.36-.21-.53-182.9-531.5-377.94-809.8-529-966.95-136.44-141.93-248.12-196.65-339.64-394.89-53.89-116.71-97.06-275.11-231.04-352.2-41.38-23.8-79.73-33.16-105.88-37.36v-493.66c29.79,1.18,72.66,7.22,117.42,32.03,145.06,80.41,189.36,290.62,207.97,365.58,77.94,313.95,227.71,358.6,475.98,797.84,129.31,228.86,291.8,576.15,412.91,1072.83Z" fill="%23700a00"/><path d="m1205.82,2849.48c-46.71-116.95-242.78-532.03-547.46-758.82-70.35-52.34-165.62-103.5-263.45-234.78-76.71-102.97-102.86-185.22-196.38-253.49-72.5-52.94-146.7-69.1-198.28-74.43v-429.89c26.15,4.2,64.5,13.56,105.88,37.36,133.98,77.1,177.15,235.49,231.04,352.2,91.52,198.25,203.2,252.96,339.64,394.89,151.05,157.15,346.1,435.46,529,966.95Z" fill="%23ffcb90"/><path d="m1210.89,2873.05c-157.67-217.55-311.29-314.9-423.17-363.45-213.25-92.61-359.18-44.94-478.29-202.81-49.27-65.31-90.19-160.76-184.84-186.76-49.02-13.44-93.73-3.14-124.34,7.99v-314.84c70.71-1.48,165.67,10.95,232.94,85.39,45.53,50.39,53.27,101.37,73.94,149.4,65.27,151.65,198.28,122.04,397.63,255.39,93.37,62.41,151.77,123.64,233.14,208.9,163.62,171.54,250.89,325.08,272.99,360.79Z" fill="%23ff9600"/></svg>');
    background-size: cover;
    background-position: center center;
    border-radius: 15rem 15rem 0 0;
    border-style: double;
    border-width: 1rem;
    border-color: #FFCB90;


}

.about-text {
    grid-area: 1 / 3 / 3 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
}



#project1 {
    grid-area: 3 / 1 / 5 / 6;
    display: flex;
    justify-content: space-evenly;
    border-radius: 60% 0 0 0;
    background-color: #700A00;
    flex-wrap: wrap-reverse;

}

.project1-preview img {
    height: 22rem;
    

}

.project1-preview {
    height: 25rem;
    width: 25rem;
    border-radius: 4rem 0;
    border-style: double;
    border-width: 1rem;
    border-color: #FF9600;
    overflow: hidden;
    cursor: url('/images/pointer.png'), auto;

}

.project1-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#project2 {
    grid-area: 5 / 1 / 7 / 6;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 0 0 60%;
    background-color: #700A00;
    flex-wrap: wrap-reverse;

    
}


.project2-preview {
    background-color: #FFCB90;
    background-clip: content-box;
    height: 25rem;
    width: 25rem;
    border-radius: 0 5rem;
    border-style: double;
    border-width: 1rem;
    border-color: #FF9600;
    overflow: hidden;
    cursor: url('/images/pointer.png'), auto;

}


.project2-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.project2-preview img {
    height: 20rem;
    margin: 1rem;
    padding: 0 2rem;
 

}

#project3 {
    grid-area: 7 / 1 / 9 / 6;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 60% 0 0;
    background-color: #700A00;
    flex-wrap: wrap;
}


.project3-preview {
    height: 25rem;
    width: 25rem;
    border-radius: 5rem 0;
    border-style: double;
    border-width: 0.5rem;
    border-color: #FF9600;
    overflow: hidden;
    cursor: url('/images/pointer.png'), auto;

}

.project3-preview img {
    height: 22rem;
    
}

.project3-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#project4 {
    padding-bottom: 4rem;
    grid-area: 9 / 1 / 11 / 6;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 0 50% 50%/10rem;
    background-color: #700A00;
    flex-wrap: wrap;

}

.project4-preview {
    height: 25rem;
    width: 25rem;
    border-radius: 0 5rem;
    border-style: double;
    border-width: 0.5rem;
    border-color: #FF9600;
    overflow: hidden;
    cursor: url('/images/pointer.png'), auto;


}

.project4-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project4-preview img {
    height: 20rem;
    margin: 1rem;
    padding: 0 2rem;
}

#inspo {
    grid-area: 11 / 1 / 13 / 6;

}




nav a {
    margin: 1rem;
    text-decoration: none;
    font-family: "groovy";
    font-size: 200%;
    color: #700A00;
}

nav a:link {}

/* visited link */
nav a:visited {}

/* mouse over link */
nav a:hover {
    color: #FF3800;
    cursor: url('/images/pointer.png'), auto;
}

/* selected link */
nav a:active {}

p {
    font-family: "groovy-text";
    font-size: 1em;
    color: #FF9600;
}

section {
    padding: 2rem 0 2rem 0;
}

.retrobtn {
    width: 100%;
    height: 50px;
    font-size: 1.35rem;
    cursor: url('/images/pointer.png'), auto;
    border: 3px solid #FF9600;
    background: linear-gradient(to right, rgb(235, 228, 12) 50%, rgb(98, 4, 4) 0%);
    background-repeat: repeat;
    background-size: 200%;
    background-position: 100% 0;
    box-shadow: 0.4rem 0.2rem 0 #FF9600;
    font-family: "groovy-text";
    color: #FF9600;

}

/* html {
    color: #FF3800, #700A00, #FF9600, #FFCB90;
            ORANGE , BROWN, GOLD, BEIGE
} */